<div class="d-flex justify-content-center" *ngIf="loading && !error">
  <div class="spinner-border" role="status">
    <span class="sr-only">Buscando...</span>
  </div>
</div>
<div class="tex-center row alert alert-danger" *ngIf="error">
  <p  class="tex-center" >Pokemon no encontrado</p>
</div>


<div class="row">
  <div class="col-6" *ngIf="!error && !loading">

    <carousel *ngIf="imagesUrl !== undefined"
      [loop]="true"
      [arrowsTheme]="'dark'"
      [overflowCellsLimit]="1"
      [images]="imagesUrl">
    </carousel>
  </div>

<div class="col-6">
  <div id="cards mb-5" *ngIf="!error && !loading">  

      <figure class="card card--normal  mx-auto">
        <div class="card__image-container">
          <img [src]="imgUrl" class="card__image">   
        </div>
        <figcaption class="card__caption">
          <h1 class="card__name">{{ pokemon.name }}</h1>
      
          <h3 class="card__type">
            {{ pokemon.types[0].type.name}}
          </h3>
      
          <table class="card__stats">
            <tbody>
            <tr *ngFor="let item of stats">
              <th>{{ item.stat.name }}</th>
              <td>{{ item.base_stat }}</td>
            </tr>
          </tbody></table>
          
          <div class="card__abilities">
            <h4 class="card__ability" *ngFor="let item of abilities | slice:0:2;">
              <span class="card__label">Habilidad</span>
              {{ item.ability.name }}
            </h4>
          </div>
        </figcaption>
      </figure>
    </div>      
  </div>
</div>
