@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700");

img {
  max-height: 100px;
  margin: auto;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: bold;
}

.card {
  display: inline-block;
  width: 320px;
  padding: 1em; 
  margin: 10px;
  background: #ddd;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.card__caption {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 1em;
  position: relative;
  border-radius: 0 0 3px 3px;
}
.card__image-container {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 1em 1em 0;
  border-radius: 3px 3px 0 0;
}
.card__type {
  position: absolute;
  top: 0;
  right: 1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  border-radius: 10px;
  letter-spacing: 0.1em;
  padding: 0.25em;
  line-height: 1;
  border-radius: 2px;
  background: #bbbbbb;
}
.card__label {
  font-size: 12px;
  text-transform: uppercase;  
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.card__name {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: black;
  border-radius: 10px;
  background-color: #fdbb2d;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.card__stats {
  margin: 1em 0;
  width: 100%;
}
.card__stats th {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: right;
  font-weight: bold;
}
.card__stats th,
.card__stats td {
  width: 50%;
  padding: 0.25em 0.5em 0;
}
.card__abilities {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.card__ability {
  margin-top: 2em;
  -webkit-box-flex: 1;
  flex: 1 0;
}
.card--normal {
  background: linear-gradient(110deg, #fdbb2d 0%, #3a1c71 100%);
  box-shadow: 0px 5px 20px -10px #3a1c71;
}
.card--normal .card__type {
  background-color: #c08a53;
  color: whitesmoke;
  border-radius: 5px;
}
.card__stats td {
    font-weight: bolder;
}

